body{
    background-color:#4db6ac;    
}
.container{
    background-color: #fafafa;
    
}
.photo-container {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
  }
.row{
    text-align:center;
}
.btn{
    width: 100%;
}